<h1>Apartments: </h1>

<ul>

<% @apartments. each do |t| %>
    <a href="/apartments/<%= t.id %>">
        <li> <%= t.address %></li>
    </a>
<% end %>

<ul>

<br/>
<a class="button" href="/apartments/new">create new apartment</a>

<br/>
<a class="button" href="/tenants">See tenants list</a>